/*导航栏*/
.sidebar {
    /*将导航栏至于左侧*/
    position: fixed;

    /*锁定导航栏位置*/
    top: 0;
    left: 0;
    height: 100%;

    /*导航栏宽度（自定义）*/
    width: 79px;
    
    /*导航栏颜色（自定义）*/
    background-color: #333;
    color: white;

    /*内边框*/
    padding: 20px;

    /*固定大小*/
    box-sizing: border-box;
}

.sidebar ul {
    /*去除编号*/
    list-style-type: none;

    /*无内边框*/
    padding: 0;

    /*无外边框*/
    margin-top: 0;
}

.sidebar ul li {
    /*上下间距（自定义）*/
    margin: 10px 0;

    /*无外边框*/
    margin-top: 0;
}

.sidebar ul li a {
    /*颜色*/
    color: white;

    /*下划线*/
    text-decoration: none;
}

#background {
    /* 导航栏宽度 */
    margin-left: 71px; 

    /* 内边距（margin预览） */
    padding: 20px;

    box-sizing: border-box;
}

/*底部栏*/
#end {
    /*固定到下侧*/
    position: fixed;
    bottom: 0;
    left: 41px;
    width: 100%;

    /*对齐*/
    text-align: center;

    /*外边框*/
    padding: 10px 0;

    box-sizing: border-box;
}

/*LOGO*/
.logo{
    /*大小*/
    width: 40px;
    height: auto;
}

/*图标*/
.icon{
    /*大小*/
    width: 35px;
    height: auto;
}

.icon_div{
    /*文字居中*/
    text-align: center; 

    /*字体设置*/
    font-size: 12px;

    /* 使伪元素生效 */
    position: relative;
}

/* 蓝色横线指示器 */
.indicator {
    /*定位类型*/
    position: absolute;

    visibility: hidden;
    top: 0px;

    /* 动画效果 */
    transition: top 0.3s ease;

    /*圆角*/
    border-radius: 5px;

    /*可自定义*/
    left: 10px; /* 调整横线距离图标的距离 */
    width: 5px; /* 横线的宽度 */
    height: 30px; /* 横线的高度 */
    background-color: #07fba5; /* 横线的颜色 */  
}