body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.custom-tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    color: blue;
}

.tooltip {
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.3s;
    pointer-events: none; /* 防止工具提示遮挡鼠标事件 */
    min-height: 20px; /* 设置最小高度 */
    max-width: 200px; /* 设置最大宽度，防止过长 */
    word-wrap: break-word; /* 允许长单词或 URL 断行 */
}

.tooltip.top {
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
}

.tooltip.bottom {
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
}

.tooltip.left {
    right: 100%;
    top: 50%;
    transform: translateY(-50%);
}

.tooltip.right {
    left: 100%;
    top: 50%;
    transform: translateY(-50%);
}